{% extends 'blog/base.html' %}

{% block content %}
    <h1> About </h1>
    <h5>This is a simple website where people can sell and buy their items. 
        On the top right corner of the page, you can check your profile, the items 
        in your cart, the items you put up for Sale, Logout, 
        and you also have an option to Sell Item. In the home page you can view 
        all the items that are up for sale, and you can view more about the 
        details of the items too. You can also add items to your cart.
    </h5> 
{% endblock content %}