{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if query %}
{% for result in results %}
<article class="media content-section ">
  <img class="rounded-circle article-img" src="{{ data.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ result.author }}</a>
        <small class="text-muted">{{ result.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ result.item_name }}</a></h2>
      <p class="article-content">Rs.{{ result.item_price }}</p>
      <p class="article-content"> {{ result.item_details }}</p>
      {% if result.author == user %}
      <div>
        <a class="btn btn-outline-primary btn-sm mt-1 mb-1" href="{% url 'update' data.id %}">Update</a>
        <a class="btn btn-outline-primary btn-sm mt-1 mb-1" href="{% url 'delete' data.id %}">Delete</a>
      </div>
      {% else %}
      <div>
        <a class="btn btn-outline-primary btn-sm mt-1 mb-1" href="#">Buy</a>
      </div>
      {% endif %}
    </div>
  </article>
  {% endfor %}
  {% else %}
  <center><h2>Sorry couldn't find anything for {{ query }} :(</h2></center>
  {% endif %}
{% endblock content %}